In [40]:
from __future__ import absolute_import
import json
import logging
import os
import time
from argparse import ArgumentParser
from datetime import datetime

from pgportfolio.tools.configprocess import preprocess_config
from pgportfolio.tools.configprocess import load_config
from pgportfolio.tools.trade import save_test_data
from pgportfolio.tools.shortcut import execute_backtest
from pgportfolio.resultprocess import plot


def build_parser():
    parser = ArgumentParser()
    parser.add_argument("--mode",dest="mode",
                        help="start mode, train, generate, download_data"
                             " backtest",
                        metavar="MODE", default="train")
    parser.add_argument("--processes", dest="processes",
                        help="number of processes you want to start to train the network",
                        default="1")
    parser.add_argument("--repeat", dest="repeat",
                        help="repeat times of generating training subfolder",
                        default="1")
    parser.add_argument("--algo",
                        help="algo name or indexes of training_package ",
                        dest="algo")
    parser.add_argument("--algos",
                        help="algo names or indexes of training_package, seperated by \",\"",
                        dest="algos")
    parser.add_argument("--labels", dest="labels",
                        help="names that will shown in the figure caption or table header")
    parser.add_argument("--format", dest="format", default="raw",
                        help="format of the table printed")
    parser.add_argument("--device", dest="device", default="cpu",
                        help="device to be used to train")
    parser.add_argument("--folder", dest="folder", type=int,
                        help="folder(int) to load the config, neglect this option if loading from ./pgportfolio/net_config")
    return parser


def main():
    parser = build_parser()
    options = parser.parse_args()
    if not os.path.exists("./" + "train_package"):
        os.makedirs("./" + "train_package")
    if not os.path.exists("./" + "database"):
        os.makedirs("./" + "database")

    if options.mode == "train":
        import pgportfolio.autotrain.training
        if not options.algo:
            pgportfolio.autotrain.training.train_all(int(options.processes), options.device)
        else:
            for folder in options.folder:
                raise NotImplementedError()
    elif options.mode == "generate":
        import pgportfolio.autotrain.generate as generate
        logging.basicConfig(level=logging.INFO)
        generate.add_packages(load_config(), int(options.repeat))
    elif options.mode == "download_data":
        from pgportfolio.marketdata.datamatrices import DataMatrices
        with open("./pgportfolio/net_config.json") as file:
            config = json.load(file)
        config = preprocess_config(config)
        start = time.mktime(datetime.strptime(config["input"]["start_date"], "%Y/%m/%d").timetuple())
        end = time.mktime(datetime.strptime(config["input"]["end_date"], "%Y/%m/%d").timetuple())
        DataMatrices(start=start,
                     end=end,
                     feature_number=config["input"]["feature_number"],
                     window_size=config["input"]["window_size"],
                     online=True,
                     period=config["input"]["global_period"],
                     volume_average_days=config["input"]["volume_average_days"],
                     coin_filter=config["input"]["coin_number"],
                     is_permed=config["input"]["is_permed"],
                     test_portion=config["input"]["test_portion"],
                     portion_reversed=config["input"]["portion_reversed"])
    elif options.mode == "backtest":
        config = _config_by_algo(options.algo)
        _set_logging_by_algo(logging.DEBUG, logging.DEBUG, options.algo, "backtestlog")
        execute_backtest(options.algo, config)
    elif options.mode == "save_test_data":
        # This is used to export the test data
        save_test_data(load_config(options.folder))
    elif options.mode == "plot":
        logging.basicConfig(level=logging.INFO)
        algos = options.algos.split(",")
        if options.labels:
            labels = options.labels.replace("_"," ")
            labels = labels.split(",")
        else:
            labels = algos
        plot.plot_backtest(load_config(), algos, labels)
    elif options.mode == "table":
        algos = options.algos.split(",")
        if options.labels:
            labels = options.labels.replace("_"," ")
            labels = labels.split(",")
        else:
            labels = algos
        plot.table_backtest(load_config(), algos, labels, format=options.format)

def _set_logging_by_algo(console_level, file_level, algo, name):
    if algo.isdigit():
            logging.basicConfig(filename="./train_package/"+algo+"/"+name,
                                level=file_level)
            console = logging.StreamHandler()
            console.setLevel(console_level)
            logging.getLogger().addHandler(console)
    else:
        logging.basicConfig(level=console_level)


def _config_by_algo(algo):
    """
    :param algo: a string represent index or algo name
    :return : a config dictionary
    """
    if not algo:
        raise ValueError("please input a specific algo")
    elif algo.isdigit():
        config = load_config(algo)
    else:
        config = load_config()
    return config

WARNING:tensorflow:From /Users/lijinyang/opt/anaconda3/envs/PGPortfolio/lib/python3.7/site-packages/tflearn/helpers/summarizer.py:9: The name tf.summary.merge is deprecated. Please use tf.compat.v1.summary.merge instead.

WARNING:tensorflow:From /Users/lijinyang/opt/anaconda3/envs/PGPortfolio/lib/python3.7/site-packages/tflearn/helpers/trainer.py:25: The name tf.summary.FileWriter is deprecated. Please use tf.compat.v1.summary.FileWriter instead.

WARNING:tensorflow:From /Users/lijinyang/opt/anaconda3/envs/PGPortfolio/lib/python3.7/site-packages/tflearn/collections.py:13: The name tf.GraphKeys is deprecated. Please use tf.compat.v1.GraphKeys instead.

WARNING:tensorflow:From /Users/lijinyang/opt/anaconda3/envs/PGPortfolio/lib/python3.7/site-packages/tflearn/config.py:123: The name tf.get_collection is deprecated. Please use tf.compat.v1.get_collection instead.

WARNING:tensorflow:From /Users/lijinyang/opt/anaconda3/envs/PGPortfolio/lib/python3.7/site-packages/tflearn/config.py:129: The name tf.add_to_collection is deprecated. Please use tf.compat.v1.add_to_collection instead.

WARNING:tensorflow:From /Users/lijinyang/opt/anaconda3/envs/PGPortfolio/lib/python3.7/site-packages/tflearn/config.py:131: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /Users/lijinyang/Documents/GitHub/PGPortfolioStock/pgportfolio/learn/tradertrainer.py:17: The name tf.logging.set_verbosity is deprecated. Please use tf.compat.v1.logging.set_verbosity instead.

WARNING:tensorflow:From /Users/lijinyang/Documents/GitHub/PGPortfolioStock/pgportfolio/learn/tradertrainer.py:17: The name tf.logging.ERROR is deprecated. Please use tf.compat.v1.logging.ERROR instead.

In [15]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
from pgportfolio.marketdata.datamatrices import DataMatrices

In [17]:
with open("./pgportfolio/net_config.json") as file:
    config = json.load(file)
config = preprocess_config(config)

start = time.mktime(datetime.strptime(config["input"]["start_date"], "%Y/%m/%d").timetuple())
end = time.mktime(datetime.strptime(config["input"]["end_date"], "%Y/%m/%d").timetuple())

In [8]:
a=DataMatrices(start=start,
                     end=end,
                     feature_number=config["input"]["feature_number"],
                     window_size=config["input"]["window_size"],
                     online=True,
                     period=config["input"]["global_period"],
                     volume_average_days=config["input"]["volume_average_days"],
                     coin_filter=config["input"]["coin_number"],
                     is_permed=config["input"]["is_permed"],
                     test_portion=config["input"]["test_portion"],
                     portion_reversed=config["input"]["portion_reversed"])

                   pair         volume     price
coin
ETH             BTC_ETH  833820.402758  0.020135
LTC             BTC_LTC  669757.028884  0.006100
XRP             BTC_XRP  465788.871570  0.000031
reversed_USDT  USDT_BTC  200241.369072  0.000138
ETC             BTC_ETC  165836.536867  0.000522
DASH           BTC_DASH  145825.768286  0.006920
XMR             BTC_XMR   82908.949198  0.007287
XEM             BTC_XEM   69047.989435  0.000005
FCT             BTC_FCT   63216.478905  0.000389
GNT             BTC_GNT   59158.689084  0.000005
ZEC             BTC_ZEC   51503.928711  0.004207

/Users/lijinyang/Documents/GitHub/PGPortfolio/pgportfolio/marketdata/datamatrices.py:51: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  features=type_list)
/Users/lijinyang/Documents/GitHub/PGPortfolio/pgportfolio/marketdata/globaldatamatrix.py:119: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  panel = panel_fillna(panel, "both")

https://www.google.com/finance/getprices?i=60&p=10d&f=d,o,h,l,c,v&df=cpct&q=GOOG

In [18]:
(end-start)*0.92/1800

32280.96

In [20]:
from pgportfolio.tools.data import get_volume_forward, get_type_list

In [21]:
volume_forward = get_volume_forward(end-start, 0.08, False)

In [22]:
volume_forward

5052672.0

In [84]:
import pgportfolio.marketdata.globaldatamatrix as gdm
t=gdm.HistoryManager(coin_number=11, end=end, volume_average_days=30,
                                                    volume_forward=volume_forward, online=True)

In [38]:
from pgportfolio.constants import *

In [42]:
from pgportfolio.marketdata.coinlist import CoinList
c=CoinList(end, 30, volume_forward)

In [65]:
c.topNVolume(11).loc['ETC']['price']

                   pair         volume     price
coin
ETH             BTC_ETH  833820.402758  0.020145
LTC             BTC_LTC  669757.028884  0.006082
XRP             BTC_XRP  465788.871570  0.000031
reversed_USDT  USDT_BTC  200241.369072  0.000138
ETC             BTC_ETC  165836.536867  0.000523
DASH           BTC_DASH  145825.768286  0.006960
XMR             BTC_XMR   82908.949198  0.007304
XEM             BTC_XEM   69047.989435  0.000005
FCT             BTC_FCT   63216.478905  0.000386
GNT             BTC_GNT   59158.689084  0.000005
ZEC             BTC_ZEC   51503.928711  0.004199

0.00052287

In [47]:
DAY

86400

In [48]:
24*60*60

86400

In [49]:
end

1498881600.0

In [50]:
DAY*30

2592000

In [9]:
import pandas as pd

In [11]:
s=pd.read_csv('./Raw Data/ETH_20171211.csv')

In [48]:
mm=datetime.utcfromtimestamp(1469334000).strftime('%Y-%m-%d %H:%M:%S')

In [68]:
pd.to_datetime(1513053300, unit='s', origin='unix')

Timestamp('2017-12-12 04:35:00')

In [50]:
pd.to_datetime(mm)

Timestamp('2016-07-24 04:20:00')

In [43]:
pd.to_datetime(mm).astype(int) / 10**9

AttributeError: 'Timestamp' object has no attribute 'astype'

In [52]:
pd.to_datetime([mm]).astype(int) / 10**9

Float64Index([1469334000.0], dtype='float64')

In [56]:
time.localtime(1469334000)

time.struct_time(tm_year=2016, tm_mon=7, tm_mday=24, tm_hour=0, tm_min=20, tm_sec=0, tm_wday=6, tm_yday=206, tm_isdst=1)

In [13]:
s['date_readable'] = pd.to_datetime(s['date'],unit='s')

In [14]:
s.to_csv('./Raw Data/ETH_readable_20171211.csv')

In [66]:
from pgportfolio.marketdata.poloniex import Poloniex
polo = Poloniex()
# connect the internet to accees volumes
vol = polo.marketVolume()
ticker = polo.marketTicker()
pairs = []
coins = []
volumes = []
prices = []

In [69]:
volume_forward/1800

2807.04

In [24]:
d=b.get_global_panel(start,end,1800,['close', 'high', 'low'])

                   pair         volume     price
coin
ETH             BTC_ETH  833820.402758  0.019858
LTC             BTC_LTC  669757.028884  0.006045
XRP             BTC_XRP  465788.871570  0.000031
reversed_USDT  USDT_BTC  200241.369072  0.000139
ETC             BTC_ETC  165836.536867  0.000524
DASH           BTC_DASH  145825.768286  0.006879
XMR             BTC_XMR   82908.949198  0.007365
XEM             BTC_XEM   69047.989435  0.000005
FCT             BTC_FCT   63216.478905  0.000385
GNT             BTC_GNT   59158.689084  0.000005
ZEC             BTC_ZEC   51503.928711  0.004440

In [126]:
config["input"]["end_date"]

'2017/07/01'

In [113]:
d.major_axis

Index(['ETH', 'LTC', 'XRP', 'reversed_USDT', 'ETC', 'DASH', 'XMR', 'XEM',
       'FCT', 'GNT', 'ZEC'],
      dtype='object')

In [79]:
d.minor_axis

DatetimeIndex(['2015-07-01 04:00:00', '2015-07-01 04:30:00',
               '2015-07-01 05:00:00', '2015-07-01 05:30:00',
               '2015-07-01 06:00:00', '2015-07-01 06:30:00',
               '2015-07-01 07:00:00', '2015-07-01 07:30:00',
               '2015-07-01 08:00:00', '2015-07-01 08:30:00',
               ...
               '2017-06-30 23:30:00', '2017-07-01 00:00:00',
               '2017-07-01 00:30:00', '2017-07-01 01:00:00',
               '2017-07-01 01:30:00', '2017-07-01 02:00:00',
               '2017-07-01 02:30:00', '2017-07-01 03:00:00',
               '2017-07-01 03:30:00', '2017-07-01 04:00:00'],
              dtype='datetime64[ns]', length=35089, freq=None)

In [30]:
PVM = pd.DataFrame(index=d.minor_axis,
                          columns=d.major_axis)
PVM = PVM.fillna(1.0 / 11)

window_size = 50
num_periods = len(d.minor_axis)

In [31]:
PVM

,ETH,LTC,XRP,reversed_USDT,ETC,DASH,XMR,XEM,FCT,GNT,ZEC
2015-07-01 04:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 04:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 05:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 05:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 06:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 06:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 07:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 07:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 08:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 08:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 09:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 09:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 10:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 10:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 11:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 11:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 12:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 12:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 13:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 13:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 14:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 14:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 15:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 15:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 16:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 16:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 17:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 17:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 18:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2015-07-01 18:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
...,...,...,...,...,...,...,...,...,...,...,...
2017-06-30 13:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 14:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 14:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 15:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 15:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 16:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 16:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 17:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 17:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 18:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 18:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 19:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 19:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 20:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 20:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 21:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 21:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 22:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 22:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 23:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-06-30 23:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 00:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 00:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 01:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 01:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 02:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 02:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 03:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 03:30:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909
2017-07-01 04:00:00,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909,0.090909

In [48]:
PVM.iloc[25285]

ETH              0.090909
LTC              0.090909
XRP              0.090909
reversed_USDT    0.090909
ETC              0.090909
DASH             0.090909
XMR              0.090909
XEM              0.090909
FCT              0.090909
GNT              0.090909
ZEC              0.090909
Name: 2016-12-08 22:30:00, dtype: float64

In [33]:
32249+2776

35025

In [1]:
from pgportfolio.marketdata.datamatrices import DataMatrices

In [2]:
from pgportfolio.tools.configprocess import load_config

In [41]:
q=DataMatrices.create_from_config(load_config(1))

In [127]:
batch,b = q.next_batch()
batch_input = batch["X"]
batch_y = batch["y"]
batch_last_w = batch["last_w"]
batch_w = batch["setw"]

In [79]:
import numpy as np
b = np.array(b)
PVM.values[b-1, :]

array([[0.09090909, 0.09090909, 0.09090909, ..., 0.09090909, 0.09090909,
        0.09090909],
       [0.09090909, 0.09090909, 0.09090909, ..., 0.09090909, 0.09090909,
        0.09090909],
       [0.09090909, 0.09090909, 0.09090909, ..., 0.09090909, 0.09090909,
        0.09090909],
       ...,
       [0.09090909, 0.09090909, 0.09090909, ..., 0.09090909, 0.09090909,
        0.09090909],
       [0.09090909, 0.09090909, 0.09090909, ..., 0.09090909, 0.09090909,
        0.09090909],
       [0.09090909, 0.09090909, 0.09090909, ..., 0.09090909, 0.09090909,
        0.09090909]])

In [128]:
min(b),max(b),len(b)

(29811, 29919, 109)

In [88]:
d

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 11 (major_axis) x 35089 (minor_axis)
Items axis: close to low
Major_axis axis: ETH to ZEC
Minor_axis axis: 2015-07-01 04:00:00 to 2017-07-01 04:00:00

In [104]:
batch_input.shape,batch_y.shape

((109, 3, 11, 31), (109, 3, 11))

In [107]:
batch_last_w.shape

(109, 11)

In [109]:
batch_w

In [81]:
batch_input[0,0,0,:]

array([0.03989976, 0.03943419, 0.0394    , 0.03993396, 0.041055  ,
       0.04051   , 0.04032008, 0.04022   , 0.04061   , 0.040712  ,
       0.04054992, 0.04097   , 0.040565  , 0.04021001, 0.04009   ,
       0.04033   , 0.04024399, 0.04030103, 0.040306  , 0.04054401,
       0.04076423, 0.04187798, 0.04258751, 0.042753  , 0.04250966,
       0.04345   , 0.0437    , 0.0431    , 0.04251012, 0.04289988,
       0.04230884], dtype=float32)

In [115]:
batch_input[1,0,0,:]

array([0.01204   , 0.01205766, 0.012047  , 0.01206881, 0.01199953,
       0.01200101, 0.01203998, 0.012037  , 0.01204847, 0.01204558,
       0.01202712, 0.012023  , 0.0117808 , 0.01130003, 0.01129005,
       0.01149781, 0.01160759, 0.011645  , 0.01161774, 0.011601  ,
       0.01155598, 0.011556  , 0.01156817, 0.01154802, 0.01154499,
       0.01153105, 0.0114    , 0.01148056, 0.01151   , 0.01155512,
       0.011532  ], dtype=float32)

In [58]:
s=pd.read_csv('./Raw Data/ETC_readable.csv')

In [60]:
s[s['date_readable']=="2016-12-08 22:30:00"]

,Unnamed: 0,date,coin,high,low,open,close,volume,quoteVolume,weightedAverage,date_readable
39674,39674,1481236200,ETC,0.001062,0.001062,0.001062,0.001062,0.096132,90.505795,0.001062,2016-12-08 22:30:00

In [109]:
d.values.shape

(3, 11, 35089)

In [115]:
d.values[:,4,:]

array([[0.00201001, 0.00201001, 0.00201001, ..., 0.00708969, 0.00709411,
        0.00708878],
       [0.01      , 0.01      , 0.01      , ..., 0.00709774, 0.00710101,
        0.00714362],
       [0.00060001, 0.00060001, 0.00060001, ..., 0.0070311 , 0.00705021,
        0.00706091]], dtype=float32)

In [91]:
window_size=31
def get_submatrix(ind):
    return d.values[:, :, ind:ind+window_size+1]

In [129]:
M = [get_submatrix(index) for index in b]
M = np.array(M)
X = M[:, :, :, :-1]
y = M[:, :, :, -1] / M[:, 0, None, :, -2]

In [134]:
X.shape, d.values.shape, M.shape, y.shape

((109, 3, 11, 31), (3, 11, 35089), (109, 3, 11, 32), (109, 3, 11))

In [135]:
PVM.shape

(35089, 11)

In [132]:
X[60,:,4,0]

array([0.00138099, 0.00138849, 0.0013789 ], dtype=float32)

In [105]:
batch_input[0,0,0,:]

array([0.03016388, 0.03024982, 0.0303    , 0.03070685, 0.03099929,
       0.03105385, 0.03093586, 0.03140082, 0.03167166, 0.0317    ,
       0.0315    , 0.03129267, 0.03129282, 0.03174889, 0.03141516,
       0.03128629, 0.03155387, 0.03142776, 0.031552  , 0.03168965,
       0.03186994, 0.032     , 0.03190064, 0.03188401, 0.03192   ,
       0.03183613, 0.03197554, 0.03149946, 0.03165   , 0.03168   ,
       0.03174   ], dtype=float32)

In [113]:
35089-32249-2776

64

In [3]:
import matplotlib.pyplot as plt
import pandas as pd

In [141]:
plt.show('./Result/crp_olmar_nnagent 20191211_1/crp_olmar_nnagent.eps')
plt.show()

In [143]:
S

,Unnamed: 0,date,coin,high,low,open,close,volume,quoteVolume,weightedAverage,date_readable
0,0,1469334000,ETC,0.010000,0.006000,0.009950,0.006000,0.399950,46.666667,0.008570,2016-07-24 04:20:00
1,1,1469334300,ETC,0.006000,0.000600,0.000600,0.002010,0.232879,87.178785,0.002671,2016-07-24 04:25:00
2,2,1469334600,ETC,0.002780,0.000500,0.002020,0.002000,6.116057,4451.805492,0.001374,2016-07-24 04:30:00
3,3,1469334900,ETC,0.001799,0.000101,0.001799,0.000700,6.481349,13909.924200,0.000466,2016-07-24 04:35:00
4,4,1469335200,ETC,0.001700,0.000750,0.000850,0.000750,8.321861,7712.990676,0.001079,2016-07-24 04:40:00
5,5,1469335500,ETC,0.005599,0.000750,0.001050,0.003500,14.034133,5583.484243,0.002514,2016-07-24 04:45:00
6,6,1469335800,ETC,0.004387,0.000810,0.003869,0.000935,40.823221,30931.081400,0.001320,2016-07-24 04:50:00
7,7,1469336100,ETC,0.001088,0.000750,0.000950,0.000919,18.094139,20365.337640,0.000888,2016-07-24 04:55:00
8,8,1469336400,ETC,0.000919,0.000500,0.000850,0.000510,34.940305,45057.638360,0.000775,2016-07-24 05:00:00
9,9,1469336700,ETC,0.000627,0.000420,0.000615,0.000450,12.843110,27488.530120,0.000467,2016-07-24 05:05:00
10,10,1469337000,ETC,0.000500,0.000300,0.000450,0.000321,11.980388,32990.714990,0.000363,2016-07-24 05:10:00
11,11,1469337300,ETC,0.000366,0.000321,0.000357,0.000340,13.318007,38837.193600,0.000343,2016-07-24 05:15:00
12,12,1469337600,ETC,0.000365,0.000331,0.000340,0.000360,23.096701,67709.961060,0.000341,2016-07-24 05:20:00
13,13,1469337900,ETC,0.000585,0.000330,0.000341,0.000350,44.250390,100615.271500,0.000440,2016-07-24 05:25:00
14,14,1469338200,ETC,0.000431,0.000330,0.000431,0.000362,47.368258,131262.405100,0.000361,2016-07-24 05:30:00
15,15,1469338500,ETC,0.000441,0.000362,0.000380,0.000440,31.232277,74689.449980,0.000418,2016-07-24 05:35:00
16,16,1469338800,ETC,0.000757,0.000440,0.000440,0.000757,71.657622,123336.828900,0.000581,2016-07-24 05:40:00
17,17,1469339100,ETC,0.001440,0.000700,0.000757,0.001440,144.995669,150495.519300,0.000963,2016-07-24 05:45:00
18,18,1469339400,ETC,0.001500,0.000440,0.001300,0.000890,183.137945,212728.163900,0.000861,2016-07-24 05:50:00
19,19,1469339700,ETC,0.000890,0.000611,0.000890,0.000730,63.169893,88923.939250,0.000710,2016-07-24 05:55:00
20,20,1469340000,ETC,0.000800,0.000700,0.000740,0.000770,68.971023,91312.345550,0.000755,2016-07-24 06:00:00
21,21,1469340300,ETC,0.000789,0.000721,0.000770,0.000754,16.263387,21592.813570,0.000753,2016-07-24 06:05:00
22,22,1469340600,ETC,0.001000,0.000750,0.000750,0.000950,78.087277,89880.307350,0.000869,2016-07-24 06:10:00
23,23,1469340900,ETC,0.001120,0.000950,0.000950,0.001075,91.747842,88748.055320,0.001034,2016-07-24 06:15:00
24,24,1469341200,ETC,0.001189,0.001002,0.001100,0.001050,83.898413,78466.104020,0.001069,2016-07-24 06:20:00
25,25,1469341500,ETC,0.001189,0.001047,0.001050,0.001150,63.830524,57283.930340,0.001114,2016-07-24 06:25:00
26,26,1469341800,ETC,0.001480,0.001140,0.001150,0.001450,122.791459,94027.351910,0.001306,2016-07-24 06:30:00
27,27,1469342100,ETC,0.001655,0.001300,0.001466,0.001470,182.755465,122201.789800,0.001496,2016-07-24 06:35:00
28,28,1469342400,ETC,0.001620,0.001400,0.001421,0.001450,159.289740,104809.825200,0.001520,2016-07-24 06:40:00
29,29,1469342700,ETC,0.001477,0.001100,0.001450,0.001300,208.317882,164058.992100,0.001270,2016-07-24 06:45:00
...,...,...,...,...,...,...,...,...,...,...,...
98463,98463,1498872900,ETC,0.007087,0.007050,0.007058,0.007051,4.347040,615.718052,0.007060,2017-07-01 01:35:00
98464,98464,1498873200,ETC,0.007070,0.007050,0.007070,0.007052,0.353519,50.027206,0.007067,2017-07-01 01:40:00
98465,98465,1498873500,ETC,0.007065,0.007050,0.007065,0.007050,2.704668,383.616929,0.007050,2017-07-01 01:45:00
98466,98466,1498873800,ETC,0.007052,0.007022,0.007050,0.007051,5.454846,774.323965,0.007045,2017-07-01 01:50:00
98467,98467,1498874100,ETC,0.007074,0.007022,0.007051,0.007022,5.777415,819.572826,0.007049,2017-07-01 01:55:00
98468,98468,1498874400,ETC,0.007061,0.007032,0.007041,0.007061,1.273549,180.635000,0.007050,2017-07-01 02:00:00
98469,98469,1498874700,ETC,0.007061,0.007033,0.007061,0.007049,0.856137,121.415947,0.007051,2017-07-01 02:05:00
98470,98470,1498875000,ETC,0.007057,0.007030,0.007033,0.007049,6.670335,948.268829,0.007034,2017-07-01 02:10:00
98471,98471,1498875300,ETC,0.007071,0.007047,0.007059,0.007071,1.208161,171.047927,0.007063,2017-07-01 02:15:00
98472,98472,1498875600,ETC,0.007072,0.007061,0.007071,0.007061,0.275947,39.051307,0.007066,2017-07-01 02:20:00
98473,98473,1498875900,ETC,0.007074,0.007033,0.007061,0.007074,3.155111,448.024245,0.007042,2017-07-01 02:25:00
98474,98474,1498876200,ETC,0.007064,0.007036,0.007050,0.007064,1.603528,227.212958,0.007057,2017-07-01 02:30:00
98475,98475,1498876500,ETC,0.007074,0.007041,0.007064,0.007064,1.040068,147.438597,0.007054,2017-07-01 02:35:00
98476,98476,1498876800,ETC,0.007070,0.007040,0.007064,0.007064,3.720658,527.285275,0.007056,2017-07-01 02:40:00
98477,98477,1498877100,ETC,0.007051,0.007031,0.007040,0.007032,0.835564,118.779089,0.007035,2017-07-01 02:45:00
98478,98478,1498877400,ETC,0.007098,0.007040,0.007052,0.007046,8.359381,1184.178923,0.007059,2017-07-01 02:50:00
98479,98479,1498877700,ETC,0.007090,0.007047,0.007072,0.007090,0.222250,31.476818,0.007061,2017-07-01 02:55:00
98480,98480,1498878000,ETC,0.007090,0.007059,0.007068,0.007061,0.593028,83.711216,0.007084,2017-07-01 03:00:00
98481,98481,1498878300,ETC,0.007090,0.007050,0.007090,0.007050,1.240743,175.455257,0.007072,2017-07-01 03:05:00
98482,98482,1498878600,ETC,0.007095,0.007051,0.007072,0.007067,2.646185,373.919470,0.007077,2017-07-01 03:10:00
98483,98483,1498878900,ETC,0.007095,0.007060,0.007060,0.007095,1.313553,185.543693,0.007079,2017-07-01 03:15:00
98484,98484,1498879200,ETC,0.007101,0.007060,0.007079,0.007060,7.819750,1105.255461,0.007075,2017-07-01 03:20:00
98485,98485,1498879500,ETC,0.007094,0.007061,0.007061,0.007094,0.229063,32.357343,0.007079,2017-07-01 03:25:00
98486,98486,1498879800,ETC,0.007087,0.007061,0.007079,0.007087,0.783328,110.730911,0.007074,2017-07-01 03:30:00
98487,98487,1498880100,ETC,0.007087,0.007063,0.007063,0.007076,2.130984,301.356240,0.007071,2017-07-01 03:35:00
98488,98488,1498880400,ETC,0.007109,0.007076,0.007076,0.007109,2.791693,393.949541,0.007086,2017-07-01 03:40:00
98489,98489,1498880700,ETC,0.007144,0.007063,0.007095,0.007116,54.836287,7723.143734,0.007100,2017-07-01 03:45:00
98490,98490,1498881000,ETC,0.007141,0.007116,0.007116,0.007116,2.466060,346.439252,0.007118,2017-07-01 03:50:00
98491,98491,1498881300,ETC,0.007116,0.007089,0.007116,0.007089,9.868770,1391.228602,0.007094,2017-07-01 03:55:00
98492,98492,1498881600,ETC,0.007116,0.007096,0.007096,0.007096,1.240099,174.294089,0.007115,2017-07-01 04:00:00

In [58]:
stock=pd.read_table("./Raw Data/S&P500 from 20171212/AAPL.txt",sep=',',header=None)
stock.columns=['Date1', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume']
stock['Date'] = pd.to_datetime(stock['Date1'] + ' ' + stock['Time'])
stock = stock.drop(['Date1','Time'], axis=1)

In [61]:
stock['Date']=stock['Date'].astype(int) / 10**9

In [66]:
stock['Date']=pd.to_numeric(stock['Date'], downcast='integer')

In [77]:
def get_stock_table(ticker):
    stock=pd.read_table("./Raw Data/S&P500 from 20171212/"+ticker+".txt",sep=',',header=None)
    stock.columns=['Date1', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume']
    stock['Date'] = pd.to_datetime(stock['Date1'] + ' ' + stock['Time'])
    stock = stock.drop(['Date1','Time'], axis=1)
    stock['Date']=stock['Date'].astype(int) / 10**9
    stock['Date']=pd.to_numeric(stock['Date'], downcast='integer')
    stock['coin']=ticker
    return stock

In [98]:
stock=pd.read_table("./Raw Data/S&P500 from 20171212/"+'AAPL'+".txt",sep=',',header=None)
stock.columns=['Date1', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume']
stock['Date'] = pd.to_datetime(stock['Date1'] + ' ' + stock['Time'])
stock = stock.drop(['Date1','Time'], axis=1)

In [100]:
stock

           Open      High       Low     Close  Volume                Date
0      167.2000  167.2000  167.2000  167.2000     154 2017-12-12 04:35:00
1      167.3800  167.3800  167.3800  167.3800     103 2017-12-12 04:55:00
2      167.2400  167.2400  167.2400  167.2400     208 2017-12-12 05:05:00
3      167.2000  167.2000  167.2000  167.2000     280 2017-12-12 05:10:00
4      166.9800  167.2400  166.9800  167.2400     352 2017-12-12 05:35:00
5      167.2000  167.2000  167.2000  167.2000     515 2017-12-12 05:55:00
6      167.2600  167.2600  167.2600  167.2600     109 2017-12-12 06:30:00
7      167.2900  167.2900  167.2600  167.2600    1148 2017-12-12 06:50:00
8      167.3300  167.3300  167.3300  167.3300     103 2017-12-12 07:00:00
9      167.3800  167.3800  167.3800  167.3800     206 2017-12-12 07:05:00
10     167.3900  167.3900  167.3400  167.3400     518 2017-12-12 07:10:00
11     167.3400  167.3400  167.3400  167.3400     244 2017-12-12 07:20:00
12     167.4100  167.4200  167.4100  167.4200    1030 2017-12-12 07:25:00
13     167.4200  167.4300  167.4200  167.4200    1863 2017-12-12 07:30:00
14     167.4400  167.5300  167.4300  167.5300    3616 2017-12-12 07:40:00
15     167.5300  167.5300  167.5300  167.5300     103 2017-12-12 07:45:00
16     167.4300  167.4800  167.4300  167.4800    1762 2017-12-12 07:50:00
17     167.5000  167.6100  167.3300  167.5800   10874 2017-12-12 08:00:00
18     167.6100  167.6100  167.6100  167.6100    1854 2017-12-12 08:05:00
19     167.5800  167.6100  167.5400  167.6000    1118 2017-12-12 08:10:00
20     167.5500  167.5500  167.4600  167.4600     309 2017-12-12 08:15:00
21     167.5500  167.5500  167.4800  167.4800     721 2017-12-12 08:20:00
22     167.4800  167.4800  167.4200  167.4300    3989 2017-12-12 08:25:00
23     167.3400  167.4300  167.3400  167.4300    3722 2017-12-12 08:30:00
24     167.4200  167.4200  167.3400  167.3400    3685 2017-12-12 08:35:00
25     167.3400  167.3400  167.3100  167.3300    1325 2017-12-12 08:40:00
26     167.3300  167.3300  167.2700  167.2800     618 2017-12-12 08:45:00
27     167.2800  167.3400  167.2400  167.2400    7406 2017-12-12 08:50:00
28     167.3200  167.3700  167.3200  167.3700    3896 2017-12-12 08:55:00
29     167.2900  167.3400  167.2400  167.2400    2211 2017-12-12 09:00:00
...         ...       ...       ...       ...     ...                 ...
84445  268.3033  268.3400  267.8700  268.0551  260549 2019-12-12 12:10:00
84446  268.0575  268.4000  267.9300  268.0701  260961 2019-12-12 12:15:00
84447  268.0838  268.1200  267.4200  267.6315  289769 2019-12-12 12:20:00
84448  267.6100  268.2100  267.6000  268.1200  254830 2019-12-12 12:25:00
84449  268.1400  268.9100  268.1200  268.7843  388691 2019-12-12 12:30:00
84450  268.7700  269.3100  268.7700  269.2150  275162 2019-12-12 12:35:00
84451  269.1991  269.2600  268.9800  269.2099  138011 2019-12-12 12:40:00
84452  269.2050  269.5000  269.1600  269.2600  255394 2019-12-12 12:45:00
84453  269.2700  269.6400  269.2500  269.3750  171567 2019-12-12 12:50:00
84454  269.3800  269.5649  269.2100  269.3400  166823 2019-12-12 12:55:00
84455  269.3200  269.8000  269.2800  269.6800  201172 2019-12-12 13:00:00
84456  269.6900  269.9100  269.6300  269.7800  193075 2019-12-12 13:05:00
84457  269.7837  270.2600  269.7000  270.1537  249176 2019-12-12 13:10:00
84458  270.1500  270.3606  270.0700  270.2890  178270 2019-12-12 13:15:00
84459  270.2890  270.3500  270.0300  270.1400  152105 2019-12-12 13:20:00
84460  270.1383  270.1800  269.8600  270.0630  152958 2019-12-12 13:25:00
84461  270.0620  270.1900  269.9000  269.9699   86419 2019-12-12 13:30:00
84462  269.9636  269.9699  269.5400  269.6420  162870 2019-12-12 13:35:00
84463  269.6500  269.9300  269.6300  269.7300  120178 2019-12-12 13:40:00
84464  269.7300  269.8100  269.6498  269.6822   76235 2019-12-12 13:45:00
84465  269.7000  270.1300  269.6700  270.0000  191562 2019-12-12 13:50:00
84466  270.0100  270.1600  269.8601  270.1300  129220 2019-12-12 13:55:00
84467  270.1340  270.1600  269.7500  269.7700  124381 2019-12-12 14:00:00
84468  269.7800  270.0000  269.7000  269.7700  119199 2019-12-12 14:05:00
84469  269.7700  269.9100  269.2400  269.5000  166236 2019-12-12 14:10:00
84470  269.5097  269.7100  269.4701  269.5949  111012 2019-12-12 14:15:00
84471  269.5962  269.6319  269.2700  269.3600  128987 2019-12-12 14:20:00
84472  269.3500  269.7100  269.2800  269.6501  128742 2019-12-12 14:25:00
84473  269.6800  271.1250  269.5000  270.8400  748153 2019-12-12 14:30:00
84474  270.8400  270.9300  270.2800  270.5133  217301 2019-12-12 14:35:00

[84475 rows x 6 columns]

In [1]:
from sqlalchemy import create_engine

In [11]:
import sqlite3

In [94]:
conn = sqlite3.connect('TestDB1.db')
c = conn.cursor()

In [95]:
c.execute('CREATE TABLE "History" ("Date" INTEGER, \
          "coin" TEXT, \
          "Open" FLOAT,\
          "High" FLOAT,\
          "Low" FLOAT,\
          "Close" FLOAT,\
          "Volume" FLOAT,\
          PRIMARY KEY("Date","coin"))')
conn.commit()

In [89]:
import numpy as np

In [96]:
ticker=np.array(pd.read_csv('./Raw Data/Ticker.csv',usecols=[0]).values,dtype=np.str)
ticker=np.squeeze(ticker)
ticker

array(['MSFT', 'AAPL', 'AMZN', 'FB', 'BRKB', 'JPM', 'GOOG', 'GOOGL',
       'JNJ', 'V', 'PG'], dtype='<U5')

In [97]:
for coin in ticker:
    get_stock_table(coin).to_sql('History', conn, if_exists='append', index = False)